section {
  display: flex;

  .left {
    flex: 70%;
    border-right: 1px solid var(--ant-border-color-split, #e1e1e1);

    img {
      width: 100%;
      height: 100dvh;
      object-fit: cover;
    }
  }

  .right {
    flex: 30%;
    padding: 2rem;
    overflow-y: scroll;
    min-height: 100vh;

    h2 {
      color: var(--ant-primary-color);
    }
    h3 {
      padding: 1rem 0;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .ant-input-group {
        > .ant-input {
          border-radius: 8px !important;
        }
      }
    }
  }
}
