section {
  display: flex;

  .left {
    flex: 70%;
    border-right: 1px solid var(--ant-border-color-split, #e1e1e1);
    overflow: hidden;
    height: 100vh;
    position: sticky;
    top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right {
    flex: 30%;
    padding: 2rem;
    overflow-y: scroll;
    height: 100dvh;

    h3 {
      padding: 1rem 0;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .ant-input-group {
        > .ant-input {
          border-radius: 8px !important;
        }
      }
    }
  }
}
