.instructor-container {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .instructor-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid transparent;
    padding: 3px;

    background:
      linear-gradient(white, white) padding-box,
      linear-gradient(135deg, #4547d2, #6c63ff, #9b5cff) border-box;
  }

  .title {
    margin-bottom: 0;
    margin-top: 5px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
