.wrapper {
  border-bottom: 1px solid var(--ant-border-color);

  .contact {
    min-height: 90vh;

    .contact-content {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin-block: 1rem;
      .contact-left {
        flex: 50%;

        @media (max-width: 1200px) {
          nz-col {
            width: 100%;
          }
        }
        @media (max-width: 768px) {
          flex: 100%;
          margin: 0 auto;
        }

        .contact-detail {
          margin-top: 2rem;

          .contact-item {
            display: flex;
            align-items: center;
            gap: 1rem;

            .my-icon {
              color: var(--ant-primary-color);
            }
          }
        }
      }
      .contact-right {
        flex: 50%;
        text-align: center;

        img {
          height: 400px;
          object-fit: contain;
        }
        @media (max-width: 768px) {
          display: none;
          flex: 0%;
        }
      }
    }
  }
}
