.wrapper {
  border-bottom: 1px solid var(--ant-border-color);

  .contact {
    min-height: 90vh;

    .contact-content {
      display: flex;
      // justify-content: space-between;
      gap: 1rem;
      margin-block: 1rem;
      .contact-left {
        flex: 50%;
      }
      .contact-right {
        flex: 50%;

        img {
          height: 400px;
          object-fit: contain;
        }
      }
    }
  }
}
