.wrapper {
  border-bottom: 1px solid var(--ant-border-color);

  .instructors {
    min-height: 90vh;

    .instructor-listing {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-grow: 1;
      gap: 2rem;
      margin-block: 1rem;
    }
  }
}
