.wrapper {
  border-bottom: 1px solid var(--ant-border-color);
  border-top: 1px solid var(--ant-border-color);
  .about-us {
    min-height: 90vh;

    .about-content {
      display: flex;
      align-items: center;
      gap: 2rem;

      img {
        height: 400px;
        max-width: 600px;
        width: 100%;
        object-fit: contain;
      }

      p {
        max-width: 400px;
      }
    }
  }
}
