@use './styles/theme-variables.scss';

.full-width-button {
  .ant-btn {
    width: 100% !important;
  }
}

.ant-divider-horizontal {
  margin: 16px 0 !important;
}

.text-gray {
  color: var(--ant-text-color-secondary, #626262);
}

.text-blue {
  color: var(--ant-primary-color);
}

.logo-img {
  height: 120px;
  object-fit: cover;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

.error-messages {
  margin-top: 4px;
}
.error-message {
  color: #ff4d4f;
  font-size: 12px;
}
