@use './styles/theme-variables.scss';
@use './styles/theme-fonts.scss';

*,
ul,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.full-width-button {
  .ant-btn {
    width: 100% !important;
  }
}

.ant-divider-horizontal {
  margin: 16px 0 !important;
}

.text-gray {
  color: var(--ant-text-color-secondary, #626262);
}

.text-blue {
  color: var(--ant-primary-color);
}

.logo-img {
  height: 120px;
  object-fit: cover;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

.error-messages {
  margin-top: 4px;
}
.error-message {
  color: #ff4d4f;
  font-size: 12px;
}

nz-form-control {
  width: 100%;
  display: block;
}

.logo-img {
  height: 90px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.section-heading-pill {
  color: var(--ant-primary-color);
  border: 1px solid var(--ant-primary-color);
  height: 50px;
  width: 160px;
  border-radius: 30px;
  font-size: 16px;
  margin: 1rem auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section-subheading {
  font-weight: 600;
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
  color: var(--ant-text-color);
  text-align: center;
}
