section {
  border-bottom: 1px solid var(--ant-border-color);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      ul {
        display: flex;
        gap: 2rem;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: var(--ant-text-color);
            font-size: 0.8rem;

            &.active {
              color: var(--ant-primary-color);
            }
          }
        }
      }
    }

    .auth-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}
