<section>
  <header class="app-container">
    <div class="header-logo">
      <img [src]="config.logoUrl()" alt="e-academy logo" class="logo-img" />
    </div>
    <nav>
      <ul>
        @for (navItem of navbarItems(); track navItem.link) {
          <li>
            <a
              [href]="navItem.link"
              [class.active]="navItem.isActive"
              (click)="setActive(navItem.link)"
            >
              {{ navItem.label }}
            </a>
          </li>
        }
      </ul>
    </nav>
    <div class="auth-buttons">
      <app-nz-button type="default" size="default" (click)="handleLoginClick()">
        Login
      </app-nz-button>
      <app-nz-button type="primary" size="default" (click)="handleRegisterClick()">
        Register
      </app-nz-button>
    </div>
  </header>
</section>
